@import "variables";

.text-muted {
  color: $grey;
}

.content {
  background: #fff;
  margin-top: 64px;
  padding: 24px;
  min-height: 280px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}

.btn:focus, .btn:active:focus {
  box-shadow: none;
}

.btn-success {
  background: $green;
  border-color: $green;

  &:hover {
    background: $green-dark;
    border-color: $green-dark;
  }
}

.btn-primary {
  background: $blue;
  border-color: $blue;

  &:hover {
    background: $blue-dark;
    border-color: $blue-dark;
  }
}

.btn-outline-success {
  color: $green;
  border-color: $grey;

  &:hover {
    background: $green;
    border-color: $green;
  }
}

.btn-outline-primary {
  color: $blue;
  border-color: $grey;

  &:hover {
    background: $blue;
    border-color: $blue;
  }
}

.tag {
  display: inline;
  background: $dark;
  color: #fff;
  padding: 2px 12px;
  margin-left: 5px;
  border-radius: 15px;

  &:first-child {
    margin-left: 0;
  }
}
