@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/card";
@import "variables";
@import "general";
@import "card";
@import "form";

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background: $grey-light;
  margin-bottom: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark;
  letter-spacing: -0.02em;
  font-weight: 700;
}

h1 {
  font-size: 1.625rem;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1.0625rem;
}

h4 {
  font-size: 0.9375rem;
}

h5 {
  font-size: 0.8125rem;
}

h6 {
  font-size: 0.625rem;
}

p {
  color: $dark;
}
